@model CharactersWithoutNumber.Models.Character

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container">

                <div class="row">

                    <h4>Basic Information</h4>

                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label asp-for="Background">Background</label>

                        <select id="Background" class="form-control">

                            <option>Barbarian</option>

                            <option>Clergy</option>

                            <option>Courtesan</option>

                            <option>Criminal</option>

                            <option>Dilettante</option>

                            <option>Entertainer</option>

                            <option>Merchant</option>

                            <option>Noble</option>

                            <option>Official</option>

                            <option>Peasant</option>

                            <option>Physician</option>

                            <option>Pilot</option>

                            <option>Politician</option>

                            <option>Scholar</option>

                            <option>Soldier</option>

                            <option>Spacer</option>

                            <option>Technician</option>

                            <option>Thug</option>

                            <option>Vagabond</option>

                            <option>Worker</option>

                        </select>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label asp-for="Class">Class</label>

                        <select id="Class" class="form-control" onchange="classChanges()">

                            <option>Adventurer</option>

                            <option>Expert</option>

                            <option>Psychic</option>

                            <option>Warrior</option>

                        </select>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <!--how to make a javescript file which only acts on this page?-->

                        <label asp-for="PartialClasses">Partial Classes</label>

                        <select id="PartialClasses" class="form-control" onchange="classChanges()">
                            <!-- TODO: more efficient way of doing an OnChange?-->

                            <option></option>

                            <option>Expert / Psychic</option>

                            <option>Expert / Warrior</option>

                            <option>Psychic / Warrior</option>

                        </select>

                    </div>

                </div>

                <br />

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label asp-for="Species" class="control-label"></label>
                        <input asp-for="Species" class="form-control" />
                        <span asp-validation-for="Species" class="text-danger"></span>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label asp-for="Faction" class="control-label"></label>
                        <input asp-for="Faction" class="form-control" />
                        <span asp-validation-for="Faction" class="text-danger"></span>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label asp-for="Homeworld" class="control-label"></label>
                        <input asp-for="Homeworld" class="form-control" />
                        <span asp-validation-for="Homeworld" class="text-danger"></span>

                    </div>

                </div>

                <br />

            </div> <!-- Basic Information Block -->

            <br />

            <div class="container">

                <div class="row">

                    <h4>Core Statistics</h4>

                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="Level">Level</label>

                        <input id="Level" type="number" class="form-control" />

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="Hitpoints">Hitpoints</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                        <input id="Hitpoints" type="number" class="form-control" />

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="SystemStrain">System Strain</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                        <input id="SystemStrain" type="number" class="form-control" />

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="PermanentStrain">Permanent Strain</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                        <input id="PermanentStrain" type="number" class="form-control" />

                    </div>

                </div>

                <br />

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="XPNextLevel">XP / Next Level</label> <!-- have this be one textbox with a slash in the middle using javascript -->

                        <input id="XPNextLevel" type="number" class="form-control" />

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="AC">AC</label>

                        <input id="AC" type="number" class="form-control" />

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="AttackBonus">AB</label>

                        <input id="AttackBonus" type="number" class="form-control" />

                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-3">

                        <label for="Encumbrance">Encumbrance</label>

                        <input id="Encumbrance" type="number" class="form-control" />

                    </div>

                </div>

                <br />

            </div> <!-- Core Statistics Block -->

            <br />

            <div class="container">

                <div class="row">

                    <h4>Character Attributes</h4>

                </div>

                <div class="row">

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Attribute</th>
                                <th scope="col">Base</th>
                                <th scope="col">Modifier Bonus</th>
                                <th scope="col">Modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <label asp-for="Strength" class="control-label"></label>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="Strength" class="form-control" />
                                        <span asp-validation-for="Strength" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="StrengthModifierBonus" class="form-control" />
                                        <span asp-validation-for="StrengthModifierBonus" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <!-- // (at symbol)Model.StrengthModifier; -->
                                    @Html.DisplayFor(Character => Character.StrengthModifier)   <!--TODO: have this dynamically change when Strength etc changes using JS-->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <label asp-for="Dexterity" class="control-label"></label>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="Dexterity" class="form-control" />
                                        <span asp-validation-for="Dexterity" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="DexterityModifierBonus" class="form-control" />
                                        <span asp-validation-for="DexterityModifierBonus" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(Character => Character.DexterityModifier)  
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <label asp-for="Constitution" class="control-label"></label>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="Constitution" class="form-control" />
                                        <span asp-validation-for="Constitution" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="ConstitutionModifierBonus" class="form-control" />
                                        <span asp-validation-for="ConstitutionModifierBonus" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(Character => Character.ConstitutionModifier)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <label asp-for="Intelligence" class="control-label"></label>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="Intelligence" class="form-control" />
                                        <span asp-validation-for="Intelligence" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="IntelligenceModifierBonus" class="form-control" />
                                        <span asp-validation-for="IntelligenceModifierBonus" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(Character => Character.IntelligenceModifier)  
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <label asp-for="Wisdom" class="control-label"></label>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="Wisdom" class="form-control" />
                                        <span asp-validation-for="Wisdom" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="WisdomModifierBonus" class="form-control" />
                                        <span asp-validation-for="WisdomModifierBonus" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(Character => Character.WisdomModifier) 
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <label asp-for="Charisma" class="control-label"></label>
                                </th>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="Charisma" class="form-control" />
                                        <span asp-validation-for="Charisma" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="CharismaModifierBonus" class="form-control" />
                                        <span asp-validation-for="CharismaModifierBonus" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(Character => Character.CharismaModifier)  
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div> <!-- Character Attributes Block - TODO: don't use tables! -->

            <br />

            <div class="container">

                <div class="row">

                    <h4>Skills</h4>

                </div>

                <div class="row">

                    <div class="container">

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Administer">Administer</label>
                            <input id="Administer" type="text" class="form-control" />

                            <!--
    <div class="form-group">
        <input asp-for="Administer" class="form-control" />
        <span asp-validation-for="Administer" class="text-danger"></span>
    </div>
        -->

                            <label for="Connect">Connect</label>
                            <input id="Connect" type="text" class="form-control" />

                            <label for="Exert">Exert</label>
                            <input id="Exert" type="text" class="form-control" />

                            <label for="Fix">Fix</label>
                            <input id="Fix" type="text" class="form-control" />

                            <label for="Heal">Heal</label>
                            <input id="Heal" type="text" class="form-control" />
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Know">Know</label>
                            <input id="Know" type="text" class="form-control" />

                            <label for="Lead">Lead</label>
                            <input id="Lead" type="text" class="form-control" />

                            <label for="Notice">Notice</label>
                            <input id="Notice" type="text" class="form-control" />

                            <label for="Perform">Perform</label>
                            <input id="Perform" type="text" class="form-control" />

                            <label for="Pilot">Pilot</label>
                            <input id="Pilot" type="text" class="form-control" />
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Program">Program</label>
                            <input id="Program" type="text" class="form-control" />

                            <label for="Punch">Punch</label>
                            <input id="Punch" type="text" class="form-control" />

                            <label for="Shoot">Shoot</label>
                            <input id="Shoot" type="text" class="form-control" />

                            <label for="Sneak">Sneak</label>
                            <input id="Sneak" type="text" class="form-control" />

                            <label for="Stab">Stab</label>
                            <input id="Stab" type="text" class="form-control" />
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Survive">Survive</label>
                            <input id="Survive" type="text" class="form-control" />

                            <label for="Talk">Talk</label>
                            <input id="Talk" type="text" class="form-control" />

                            <label for="Trade">Trade</label>
                            <input id="Trade" type="text" class="form-control" />

                            <label for="Work">Work</label>
                            <input id="Work" type="text" class="form-control" />

                            <label for="UnspentSkillPoints">Unspent Skill Points</label>
                            <input id="UnspentSkillPoints" type="text" class="form-control" />
                        </div>

                    </div>

                </div>

            </div> <!-- Skills Block - note that this table is massive and looks bad on mobile -->

            <br />

            <div class="container">

                <div class="row">

                    <h4>Psychic Skills and Techniques</h4>

                </div>

                <div class="row">

                    <div class="container">

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Biopsionics">Biopsionics</label>
                            <input id="Biopsionics" type="text" class="form-control" />

                            <label for="Metapsionics">Metapsionics</label>
                            <input id="Metapsionics" type="text" class="form-control" />
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Precognition">Precognition</label>
                            <input id="Precognition" type="text" class="form-control" />

                            <label for="Telekinesis">Telekinesis</label>
                            <input id="Telekinesis" type="text" class="form-control" />
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="Telepathy">Telepathy</label>
                            <input id="Telepathy" type="text" class="form-control" />

                            <label for="Teleportation">Teleportation</label>
                            <input id="Teleportation" type="text" class="form-control" />
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="UnspentPsionicSkillPoints">Unspent Psionic Skill Points</label>
                            <input id="UnspentPsionicSkillPoints" type="text" class="form-control" />
                        </div>

                    </div>

                </div>

                <br />

                <div class="container">

                    <label>Effort:</label> <!--Get these to be 4 aspects of one input box...-->

                    <div class="form-inline">

                        <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                            <input type="number" class="form-control" placeholder="Current">
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                            <input type="number" class="form-control" placeholder="Scene">
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                            <input type="number" class="form-control" placeholder="Day">
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                            <input type="number" class="form-control" placeholder="Uncommitted">
                        </div>

                    </div>

                </div>

                <br />

                <div class="row">

                    <div class="col-xs-12">

                        <label id="PsychicTechniques">Psychic Techniques</label>

                    </div>

                </div>

                <br />

                <div class="row">

                    <div class="col-xs-12">

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="PsychicDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose A Technique
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Custom</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addPsychicTechnique()">

                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>

                                Add

                            </button>
                        </div>

                    </div>

                </div>

            </div> <!-- Psionics Block -->

            <br />

            <div class="container">

                <div class="row">

                    <h4>Character Foci</h4>

                </div>

                <div class="row">

                    <div class="col-xs-12">

                        <label id="ClassFoci">Class Ability: Adventurer -</label> <!-- TODO: make it display adventurer by default-->



                    </div>

                </div>

                <br />

                <div id="JavascriptAddElementTest">
                    <textarea id="ClassAbilityFoci" rows="5" class="form-control" disabled></textarea> <!-- best way to have this be filled in with default text? -->
                </div>

                <div class="row">

                    <div class="col-xs-12">

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="FociDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose A Focus
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Custom</a>
                                    <a class="dropdown-item" href="#">Alert</a>
                                    <a class="dropdown-item" href="#">Armsman</a>
                                    <a class="dropdown-item" href="#">Assassin</a>
                                    <a class="dropdown-item" href="#">Authority</a>
                                    <a class="dropdown-item" href="#">Close Combatant</a>
                                    <a class="dropdown-item" href="#">Connected</a>
                                    <a class="dropdown-item" href="#">Die Hard</a>
                                    <a class="dropdown-item" href="#">Diplomat</a>
                                    <a class="dropdown-item" href="#">Gunslinger</a>
                                    <a class="dropdown-item" href="#">Hacker</a>
                                    <a class="dropdown-item" href="#">Healer</a>
                                    <a class="dropdown-item" href="#">Henchkeeper</a>
                                    <a class="dropdown-item" href="#">Ironhide</a>
                                    <a class="dropdown-item" href="#">Psychic Training</a>
                                    <a class="dropdown-item" href="#">Savage Fray</a>
                                    <a class="dropdown-item" href="#">Shocking Assault</a>
                                    <a class="dropdown-item" href="#">Sniper</a>
                                    <a class="dropdown-item" href="#">Specialist</a>
                                    <a class="dropdown-item" href="#">Star Captain</a>
                                    <a class="dropdown-item" href="#">Starfarer</a>
                                    <a class="dropdown-item" href="#">Tinker</a>
                                    <a class="dropdown-item" href="#">Unarmed Combatant</a>
                                    <a class="dropdown-item" href="#">Unique Gift</a>
                                    <a class="dropdown-item" href="#">Wanderer</a>
                                    <a class="dropdown-item" href="#">Wild Psychic Talent</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addFoci()">

                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>

                                Add

                            </button>
                        </div>
                    </div>
                </div>

            </div> <!-- Character Foci Block - https://getbootstrap.com/docs/4.1/components/button-group/ -->

            <br />

            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-default btn-lg">

                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>

                    Save Character

                </button>
            </div>

            <br />

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function classChanges() {

        // Get the text box etc
        var classBox = document.getElementById("Class").value;
        var partialClassBox = document.getElementById("PartialClasses").value

        // PART 1: reveal the partial class box if class is adventurer

        // If the checkbox is checked, display the output text
        if (document.getElementById("Class").value === "Adventurer") {
            document.getElementById("PartialClasses").disabled = false;
        } else {
            document.getElementById("PartialClasses").disabled = true;
            document.getElementById("PartialClasses").selectedIndex = "0";
        }

        // PART 2: change the class foci text

        document.getElementById('ClassFoci').innerHTML = 'Class Ability: ' + document.getElementById("Class").value;
        if (document.getElementById("Class").value === "Adventurer") {
            document.getElementById('ClassFoci').innerHTML += " - " + document.getElementById("PartialClasses").value;
        }
    }

    function addFoci() {
        var br = document.createElement("br");

        document.getElementById("JavascriptAddElementTest").appendChild(br);

        var btn = document.createElement("textarea");

        btn.setAttribute("rows", "5");
        btn.setAttribute("class", "form-control");
        //var t = document.createTextNode("CLICK ME"); (append element with text)
        //btn.appendChild(t);
        document.getElementById("JavascriptAddElementTest").appendChild(btn);
    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

